.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: transparent;
    height: 60px;
    position: sticky;
    top: 0;
    z-index: 1;
}

.nav-link {
    color: #ffffff;
    text-decoration: none;
}

.nav-link:hover {
    color: #dddddd;
}
